@charset "utf-8";
/* CSS Document */
.kategori_list{
	list-style:none;
	margin:0;
	padding:0;	
}
.kategori_list li{
	border-bottom:1px double #D4D4D4;
	border-left:1px double #D4D4D4;
}
.product_content{
	margin-top:5px;
	border:1px solid #D4D4D4;
	border-radius:0.6em;
	-moz-border-radius:0.2em;
	-webkit-border-radius:0.2em;
	background:#E8E8E8;
	font-size:12px;
	padding:4px;
}

.product_content .close_button{
	cursor:pointer;
}
.frame_photo{
	height:250px;
	overflow:hidden;
	margin-bottom:4px;	
}
.code{
	text-transform:uppercase;	
}
.tbl_item td{ padding:2px 2px 2px 5px; }