@charset "utf-8";
/* CSS Document */
.filetree{
	padding:0;
	margin:0;
}
.filetree li{
	border-top:1px dashed #D4D4D4;
	height:50px;
}
.parent_link{
	border:1px solid #D4D4D4;
	border-radius:0.6em;
	-moz-border-radius:0.2em;
	-webkit-border-radius:0.2em;
	background:#E8E8E8;
	padding:4px;
	width:100%;
	font-size:12px;
}


